.page {
  min-height: 100vh;
  background-color: #000;
  margin: 0 auto;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  position: relative;
}

.header {
  max-width: 880px;
  margin: 0 auto 40px auto;
  padding-top: 45px;
}

.header__logo {
  padding: 0 19px 36px 0px;
}

.header__line {
  opacity: 0.7;
  border-bottom: 1px solid #545454;
}

.content {
  max-width: 880px;
  margin: 0 auto;
  padding: 0 19px
}

.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.profile__add {
  cursor: pointer;
  border: 2px solid #fff;
  min-width: 145px;
  min-height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 29px;
}

.profile__add:hover {
  opacity: 0.5;
}

.profile-info__avatar {
  border-radius: 50%;
  /* overflow: hidden; */
  object-fit: cover;
  max-width: 120px;
  max-height: 120px;
  margin: 0 30px 0 0;
}

.profile-info {
  display: flex;
}

.profile-info__name {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.profile-info__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-info__nametext {
  margin: 0 20px 7px 0;
  padding: 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  max-width: 350px;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile-info__edit {
  cursor: pointer;
}

.profile-info__edit:hover {
  opacity: 0.6;
}

.profile-info__description {
  margin: 0;
  padding: 0;
  max-width: 350px;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.gallery {
  margin-bottom: 66px;
}

.gallery-items {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  column-gap: 17px;
  row-gap: 21px;
}

.gallery-item {
  margin: 0;
  padding: 0;
  min-height: 361px;
  background-color: #fff;
  border-radius: 10px;
}

.gallery-item__img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.gallery-item__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 74px;
  padding: 0 21px;
}

.gallery-item__text {
  margin: 0;
  padding: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000;
  max-width: 195px;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.gallery-item__like {
  cursor: pointer;
  background: url(../images/like.svg);
  background-repeat: no-repeat;
  width: 22px;
  height: 19px;
}

.gallery-item__like:hover {
  opacity: 0.5;
}

.gallery-item__like_active {
  background: url(../images/like_active.svg);
}

.footer {
  max-width: 880px;
  margin: 0 auto;
  padding: 0 19px 60px 19px;
}

.footer__copyright {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  margin: 0;
  padding: 0;
}

.popup {
  min-width: 100%;
  min-height: 100vh;
  color: #000;
  overflow: hidden;
  position: fixed;
  top: 0px;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  display: none;
}

.popup_active {
  display: flex;
}

.popup-content {
  padding: 34px 36px 37px 36px;
  width: 430px;
  height: 330px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  position: relative;
}

.popup-content__text {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 0 0 54px 0;
  padding: 0;
}

.popup-form {
  display: flex;
  flex-direction: column;
}

.popup-form__input {
  max-width: 358px;
  max-height: 27px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0 0 30px 0;
}

.popup-form__input_last {
  margin: 0 0 35px 0;
}

.popup-form__send {
  max-width: 358px;
  min-height: 50px;
  background-color: #000;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  border-radius: 2px;
}

.popup-form__send:hover {
  opacity: 0.8;
}

.popup-form__close {
  position: absolute;
  top: -41px;
  right: -40px;
  cursor: pointer;
}

.popup-form__close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 900px) {
  .header__logo {
    padding: 0 19px 36px 19px;
  }

  .profile-info__nametext {
    max-width: 300px;
  }

  .profile-info__description {
    max-width: 300px;
  }
}

@media screen and (max-width: 700px) {
  .header {
    padding-top: 24px;
  }
  .header__logo {
    max-width: 104px;
    padding: 0 19px 22px 27px;
  }

  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 37px;
  }

  .profile-info {
    flex-direction: column;
    align-items: center;
  }

  .profile-info__avatar {
      margin: 0 0 28px 0;
  }

  .profile-info__text {
      text-align: center;
      margin-bottom: 32px;
  }

  .profile-info__name {
    padding-right: 0;
  }

  .profile-info__nametext {
    font-weight: 500;
    font-size: 27px;
    line-height: 33px;
    margin: 0 10px 7px 0;
  }

  .profile-info__edit {
    max-width: 18px;
    max-height: 18px;
    margin: -7px -28px 0 0;
  }

  .profile-info__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }

  .profile__add {
    min-width: 277px;
    min-height: 46px;
  }

  .gallery {
    margin-bottom: 50px;
  }

  .gallery-items {
    row-gap: 20px;
  }

  .footer {
    padding: 0 19px 32px 19px;
  }

  .footer__copyright {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }

  .popup-content {
    max-width: 282px;
    max-height: 322px;
  }

  .popup-form__input {
    max-width: 238px;
    max-height: 27px;
  }

  .popup-form__send {
    max-width: 238px;
    min-height: 46px;
  }

  .popup-form__close {
      top: -30px;
      right: 0;
      max-width: 20px;
  }

  .popup-content__text {
    font-size: 16px;
    line-height: 22px;
  }

}

@media screen and (max-width: 315px) {

  .profile__add {
    min-width: 150px;
    min-height: 50px;
  }

  .profile-info__edit {
    margin: 0;
  }

  .profile-info__nametext {
    font-size: 18px;
  }

  .gallery-items {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    column-gap: 10px;
  }

  .gallery-item {
      min-height: 40px;
  }

  .gallery-item__like {
    width: 30px;
  }

}
