.profile-info__edit {
  cursor: pointer;
}

.profile-info__edit:hover {
  opacity: 0.6;
}

@media screen and (max-width: 700px) {
  .profile-info__edit {
    max-width: 18px;
    max-height: 18px;
    margin: -7px -28px 0 0;
  }
}

@media screen and (max-width: 315px) {
  .profile-info__edit {
    margin: 0;
  }
}
